[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
pbr = "*"
pytest = "<=5.0.1"
pytest-mock = "*"
pytest-cov = "*"
coverage = "*"
pipenv-to-requirements = "*"

[packages]
lark-parser = ">=0.7.4"

[requires]
python_version = "3.6"
